{% extends 'layouts/index.html' %}

{% block content %}
    <style>

    </style>

    <!-- =========================
     PRE LOADER       
    ============================== -->
    <div class="preloader">
        <div class="status">
            &nbsp;
        </div>
    </div>

    <!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
    <header class="header" data-stellar-background-ratio="0.5" id="home">

        <!-- COLOR OVER IMAGE -->
                   <!-- /END STICKY NAVIGATION -->

            <!-- CONTAINER -->
            <div class="container">

                <!-- ONLY LOGO ON HEADER 
		              <div class="only-logo">
			             <div class="navbar">
				                <div class="navbar-header">
					               <img src="stamp/images/logo-2.png" alt="">
				                </div>
			             </div>
		              </div>
		              /END ONLY LOGO ON HEADER -->

                <div class="row">
                    <div class="col-md-12">

                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">

                            <!-- WELCOM MESSAGE -->
                            <h1 class="intro white-text">Programadores Freelance</h1>
                            <h5 class="white-text">Te ponemos en contacto con los mejores programadores freelance españoles</h5>
                            
                            <!-- BUTTON -->
                            <div class="button">
                                <a href="/signup" class="btn btn-primary standard-button inpage-scroll">Regístrate</a>
                            </div>
                            
                        </div>
                        <!-- /END HEADNING AND BUTTONS -->

                        <div class="browser-image">
                            <img src="stamp/images/home-dashboard.png" class="wow fadeInUp" data-wow-duration="4s" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- =========================
     SECTION: CLIENTS LOGOs
    ============================== -->
    <!--
    <div class="clients white-bg">
        <ul class="client-logos">
            <li>
                <img src="stamp/images/companies/1.png" alt="">
            </li>
            <li>
                <img src="stamp/images/companies/2.png" alt="">
            </li>
            <li>
                <img src="stamp/images/companies/3.png" alt="">
            </li>
            <li>
                <img src="stamp/images/companies/4.png" alt="">
            </li>
            <li>
                <img src="stamp/images/companies/5.png" alt="">
            </li>
            <li>
                <img src="stamp/images/companies/6.png" alt="">
            </li>
        </ul>
    </div>
	-->
    <!-- =========================
     SECTION: SERVICES
    ============================== -->
    <section class="services grey-bg" id="section1">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">

                <div class="small-text-medium uppercase colored-text">
                    SERVICIOS
                </div>
                <h2 class="dark-text"><strong>Te conectamos</strong>  con programadores</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Mantenemos una base de datos actualizada de programadores especializados y disponibles.
                </div>
            </div>

            <div class="row">

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-basic-webpage-multiple"></span>
                            <span class="fa fa-glass" aria-hidden="true"></span>
                        </div>
                        <h3 class="colored-text">Ahorra tiempo</h3>
                        <p>
							El tiempo medio para reclutar un programador publicando un anuncio es de entre 1 y 2 semanas. 24 horas en Developers Bay 
                        </p>
                    </div>
                </div>

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <h3 class="colored-text">Filtramos para tí</h3>
                        <p>

                           Sólo profesionales con larga experiencia, especialistas que saben comunicarse de forma eficaz con sus clientes 
                        </p>
                    </div>
                </div>

                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="fa fa-paperclip"></span>
                        </div>
                        <h3 class="colored-text">Garantía</h3>
                        <p>
                          Te ayudamos y asesoramos gratuitamente sobre cualquier proyecto, programador o decisión tecnológica. 
							Siempre disponibles.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- =========================
     SECTION: BRIEF LEFT
    ============================== -->

    <section class="brief white-bg-border text-left" id="section2">
        <div class="container">
            <div class="row">


                <div class="col-md-6 pull-right wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="brief-image-right">
                        <img src="stamp/images/about-us.jpg" alt="">
                    </div>
                </div>


                <div class="col-md-6 content-section pull-left wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text">
                        Acerca de
                    </div>
                    <h2 class="text-left dark-text"><strong>Nuestra</strong> breve historia</h2>
                    <div class="colored-line-left">
                    </div>
                    <p class="text-left">
                    <blockquote>
                    Nuestra misión es hacer más accesible el desarrollo de software a medida para que el máximo número de personas y pymes puedan, directa o indirectamente, beneficiarse de ello.<br>
                    </blockquote>

                    Developersbay es un departamento de contratación y reclutamiento abierto al mundo. <strong>La diferencia principal con otros servicios de contratación de freelances, es la calidad, no la cantidad</strong>. Llevamos más de 10 años en el sector, y hemos trabajado como programadores, en más de 500 proyectos, teniendo todo tipo de experiencias con programadores freelance.
                    <br><br>
                    Contratar programadores a través de Developersbay, te garantiza dos cosas: <strong>menos tiempo para encontrar programador, y 0% de margen de error al contratar programadores</strong>. Te ponemos en contacto con profesionales especializados, consolidados y que saben como comunicarse de forma eficaz y eficiente con sus clientes. <strong>Calidad, no cantidad.</strong>                    <br><br>
                    





                    </p>
<!--

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="feature-list text-left">
                                <li><span class="icon-lock-alt colored-text"></span> Enfoque en la utilidad</li>
                                <li><span class="icon-check-alt2 colored-text"></span> Skilled professionals</li>
                                <li><span class="icon-paperclip colored-text"></span> Lorem ipsum dolor</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="feature-list text-left">
                                <li><span class="icon-paperclip colored-text"></span> Programadores que avalamos</li>
                                <li><span class="icon-adjust-vert colored-text"></span> Entrevistamos</li>
                                <li><span class="icon-ribbon-alt colored-text"></span> Certificamos y avalamos</li>
                            </ul>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
    </section> 

    <!-- =========================
     SECTION: SOME STATS   
    ============================== -->
    <!--
    <section class="stats" id="section4" data-stellar-background-ratio="0.5">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row no-gutters">

                 
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="fa "></span>
                        </div>
                        <h4 class="white-text">780+</h4>
                        <p class="uppercase transparent-text small-text">
                            Successfull campaigns
                        </p>
                    </div>


                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats border-left-colored border-right-colored wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-basic-message-multiple"></span>
                        </div>
                        <h4 class="white-text">1250+</h4>
                        <p class="uppercase transparent-text small-text">
                            Social interaction
                        </p>
                    </div>

   
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-ecommerce-graph-increase"></span>
                        </div>
                        <h4 class="white-text">235%</h4>
                        <p class="uppercase transparent-text small-text">
                            Yearly Sales Growth
                        </p>
                    </div>
                </div>

             
                <div class="stats-footer">
                    <div class="long-transparent-line">
                    </div>
                    <p class="white-text">
                        We are ready to help you - <a href="#section11" class="strong inpage-scroll">Get Started Now »</a>
                    </p>
                </div>

            </div>
        </div>
    </section>
-->

    <!-- =========================
     SECTION: BENEFITS   
    ============================== -->
    <section class="unique-features white-bg" id="section5">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    CARACTERÍSTICAS
                </div>
                <h2 class="dark-text"><strong>Beneficios</strong> Útiles</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                   En Developers Bay encontrarás programador más rápidamente, sin posibilidad de elegir mal
                </div>
            </div>

            <!-- FIRST ROW OF FEATURES -->
            <div class="row">
                <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20">

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="fa fa-lock"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Precio justo</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                            	No aceptamos temerarios ni sobrecostes. La mayoría de los presupuestos están en este rango 250-5000 € (proyectos más comunes) <!-- LINK A POST PRECIOS -->
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="fa fa-signal"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Exigentes</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                               Todos los programadores cumplen con unos requisitos. Lo más importante es: larga experiencia como freelances, buena comunicación y recomendados. Se comprueba manualmente.
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Programadores "locales"</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                            	No hay ningún problema en trabajar con programadores más lejanos, pero por ahora sólo te conectamos con programadores españoles.
                            </p>
                        </div>
                    </div>
                </div>


                <!-- IPAD IMAGE -->
                <div class="col-md-4">
                    <div class="ipad-image wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20">
                        <img src="stamp/images/ipad-air.png" alt="">
                    </div>
                </div>

                <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20">

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="fa fa-dashboard"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">99% más rapido</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                En 24h ya tendrás tu programador

                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="fa fa-money"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">99% más barato</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Una agencia de reclutamiento, una persona buscando programadores dentro de tu empresa, etc... es siempre un 99% más caro 
                            </p>
                        </div>
                    </div>

                    <!-- SINGLE FEATURE -->
                    <div class="feature">
                        <div class="icon-container">
                            <span class="fa fa-check"></span>
                        </div>
                        <div class="description text-left">
                            <h4 class="dark-text">Con garantías</h4>
                            <div class="grey-line-short pull-left">
                            </div>
                            <p class="text-left">
                                Nuestro objetivo es ayudarte a construir relaciones con programadores que resulten en entregas de proyectos totalmente satisfactorias para las dos partes.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


  

  
      <!-- =========================
     SECTION: TESTIMONIALS   
    ============================== -->
    <!--
    <section class="testimonials white-bg" id="section10">
        <div class="container">


            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    Testimonials
                </div>
                <h2 class="dark-text"><strong>Happy</strong> Customers</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Cloud computing subscription model out of the box proactive solution.
                </div>
            </div>

            <div class="row no-gutters">


                <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="feedback">
                        <div class="pic-container">
                            <img src="stamp/images/clients/1.jpg" alt="">
                        </div>
                        <p>
                            “Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth.”
                        </p>
                        <h5 class="colored-text">-Eusebia Bărlâdeanu</h5>
                        <div class="small-text">
                            XYZ Interactive
                        </div>
                    </div>
                </div>


                <div class="col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="feedback border-left border-right">
                        <div class="pic-container">
                            <img src="stamp/images/clients/2.jpg" alt="">
                        </div>
                        <p>
                            “Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.”
                        </p>
                        <h5 class="colored-text">- Eusebia Bărlâdeanu</h5>
                        <div class="small-text">
                            AbZ Network
                        </div>
                    </div>
                </div>


                <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                    <div id="feedback">
                        <div class="feedback">
                            <div class="pic-container">
                                <img src="stamp/images/clients/3.jpg" alt="">
                            </div>
                            <p>
                                “Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.”
                            </p>
                            <h5 class="colored-text">- Georgian Hrușcă</h5>
                            <div class="small-text">
                                ZyX LLC
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    -->

    <!-- =========================
     SECTION: CALL TO ACTION   
    ============================== -->
    <section class="call-to-action" id="section11" data-stellar-background-ratio="0.1">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row">

                    <div class="col-md-8 col-md-offset-2">

                        <div class="uppercase colored-text strong">
                            No pierdas tiempo publicando anuncios y entrevistando programadores
                        </div>

                        <h2 class="white-text strong wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40">Ahorra tiempo y contrata mejores programadores recomendados</h2>

                        <a class="btn btn-primary standard-button wow fadeInRight" href="/signup">Regístrate</a>

                    </div>

                </div>
            </div>
        </div>
    </section>
   
   {% endblock %}
