{% extends '../layouts/index.html' %}

{% block content %}
 <div class="col-lg-12">
<div class="panel panel-default bootcards-richtext">
            <div class="panel-heading">
              <h3 class="panel-title">Roadmap - Hoja de Ruta</h3>
            </div>


			<table style="width:100%" class="table table-inline table-striped">
				<thead>
				<tr><th>Funcionalidad</th><th>Descripción</th><th>Estado</th></tr>
				</thead>
				<tbody>
				
				<tr class="success"><td>Base de datos</td><td>Base de datos donde añadir programadores para posteriormente ser buscados o filtrados</td><td>online</td></tr>
				<tr class="success"><td>Inserción datos</td><td>Insertados los datos de 50 programadores con los que trabajamos y de confianza en 96levels</td><td>online</td></tr>
				<tr class="success"><td>Comprobar disponibilidad</td><td>Mail enviado a todos los programadores para checkear disponibilidad</td><td>online</td></tr>
				<tr class="info"><td>Perfil de usuario registrado</td><td>Permitir comprar créditos</td><td></td></tr>
				<tr><td>Commentarios</td><td>Comentarios en las fichas</td><td></td></tr>
				<tr><td>Blog</td><td>Posts sobre contratación de programadores y noticias generales</td><td>Por hacer</td></tr>
				<tr><td>Empleo</td><td>Sección con ofertas de empleo filtradas de diferentes fuentes</td><td>Por hacer</td></tr>
				<tr><td>Subastas</td><td>Obtener una idea sobre presupuestos rapidamente</td><td>Por hacer</td></tr>
				
				<tr><td>FAQ</td><td>Página de preguntas y respuestas</td><td>Por hacer</td></tr>
				<tr><td>Contratación directa</td><td>Ser el puente y garantía de ambos</td><td>Por hacer</td></tr>
<tr><td>Varias propuestas para un proyecto</td><td>Problema como conseguir varios presus. </td><td>Por hacer</td></tr>
			<tr><td>CRONJOB Primer contacto</td><td>Automaticamente, Enviar email con el examen y requisitos</td><td>Por hacer</td></tr>
<tr><td>Insights y datos de la indústria desde dentro</td><td>Precios de mercado, lenguajes, demanda, ...</td><td>Por hacer</td></tr>


				</tbody>
			
			</table>             
           

            <div class="panel-footer">
              <small>Revisa nuestro changelog <a href="/changelog">aquí</a></small>
            </div>
          </div><!--end rich text card--> 
          </div>

   {% endblock %}